.axis path,
.axis line{
  fill: none;
  stroke: black;
}

.line{
  fill: none;
  stroke: blue;
  stroke-width: 2px;
}

.tick text{
  font-size: 12px;
}

#tooltip text{
  font-size: 10px;
}

.tick line{
  opacity: 0.2;
}

#map path{
  stroke: gray;
  stroke-width: 1px;    
}

#tooltip{
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  border: 2px solid gray;
}
